In [1]:
import numpy
import pandas
import matplotlib.pyplot as plt
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.model_selection import train_test_split

In [2]:
df = pandas.read_csv('rec1.csv')
df.shape
df.head()

,Unnamed: 0,1A1,1A16,1A19,1A21,1A24,1A3,1A6,1A7,1B15,...,1G25,1G30,1G32,1G8,1H16,1H19,1H2,1H6,1H9,Status
0,0,-18876.730746,-16806.859571,-3981.008270,-5758.473736,-8187.469248,-16102.454623,-9622.435346,-3279.728316,-2822.197911,...,-11296.776002,1341.513145,12178.149372,-9330.185886,-21384.132363,-22303.068165,3026.822531,-18367.137938,-13690.709079,30
1,1,-18882.855735,-16812.609560,-3986.383260,-5766.004972,-8196.875480,-16107.892113,-9630.841581,-3288.322050,-2816.041673,...,-11303.182240,1355.981869,12183.024363,-9336.529624,-21388.819855,-22308.411906,3021.572541,-18291.138079,-13696.771568,30
2,2,-18881.918237,-16813.140809,-3988.039507,-5766.161222,-8198.156728,-16108.860861,-9633.029077,-3290.103297,-2812.572929,...,-11303.807239,1389.169307,12218.430548,-9336.373375,-21389.913603,-22308.130656,3019.853794,-18297.481817,-13699.459063,30
3,3,-18873.762002,-16804.172076,-3978.570775,-5756.411240,-8187.687997,-16098.454630,-9624.247843,-3280.290815,-2813.291678,...,-11297.182252,1409.731769,12225.836784,-9326.373393,-21384.569863,-22300.849420,3026.228782,-18378.012918,-13692.865325,30
4,4,-18872.543254,-16803.297078,-3977.320777,-5753.411245,-8185.156752,-16096.360884,-9618.935353,-3276.759571,-2813.072928,...,-11295.994754,1390.325555,12207.649317,-9326.998392,-21382.007367,-22299.255673,3029.541276,-18363.950444,-13692.021577,30

In [3]:
statuses = df['Status'].unique()
print(statuses)
print(df['Status'].value_counts())

[30  1  2 26 25  3  4  5  6  7  8 22  9 10 11 12 13 14 16 15 18 17 19 21
 20 23 24]
30    140
26    109
7      48
22     45
25      7
14      6
11      4
10      4
2       4
18      4
4       4
5       4
24      4
8       4
3       3
6       3
9       3
21      3
20      3
12      3
13      3
23      3
15      3
16      3
17      3
19      3
1       3
Name: Status, dtype: int64

In [4]:
# Assign each status a positive, negative, or instructional emotion type
pos_stat = [9, 11, 13, 15, 17, 19, 21, 22]
neg_stat = [10, 12, 14, 16, 18, 23]
inst_stat = [1, 2, 3, 4, 5, 6, 7, 8, 24, 25, 26, 30]

In [5]:
# Replace numeric statuses with their respective category
def replace_status(df):
    for row in df['Status']:
        if row in pos_stat:
            df['Status'].replace(row, 'positive', inplace=True)
        elif row in neg_stat:
            df['Status'].replace(row, 'negative', inplace=True)
        else:
            df['Status'].replace(row, 'instruction', inplace=True)

In [6]:
replace_status(df)

# Show how many of each emotional/instructional category
print(df['Status'].value_counts())

instruction    336
positive        67
negative        23
Name: Status, dtype: int64